<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.mju.test.EGwamok" id="gwamok"> 
		<property value="소프트웨어공학" name="name"/> 
		<property value="1" name="ID"/> 
		<property value="3" name="hackjeom"/> 
	</bean> 
	
	<bean class="com.mju.test.DAO" id="dao"> 
	</bean>
	
	<bean class="com.mju.test.CGwamokManager" id="gwamokManager"> 
		<property name="dao" ref="dao"/> 
	</bean>

</beans>
